#hero
  %h1 Volunteerable
  %p Find volunteering opportunities

#about
  .section-header What is Volunteerable?
  %p.section-description Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
  .row.feature.scheduling
    .col-md-7.offset-md-1
      %h2 Volunteers
      %p.lead Find volunteering opportunities in your area and get involved in your community
      %p.lead Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
    .col-md-3
      %i.fa.fa-calendar
  %hr/
  .row.feature.inventory
    .col-md-3
      %i.fa.fa-barcode
    .col-md-7
      %h2 Organizations
      %p.lead Post volunteering opportunities
      %p.lead Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
