- if @user_organizations.empty?
  %p
    You do not have access to any organizations, you can search for organizations and request access
    = link_to 'here', search_organizations_path

- else
  %p Organizations which you have requested/been granted access to

  .panel.panel-default
    .table-responsive
      %table.table.table-striped
        %tbody
          / %tr
          /   %th.table-img-td
          /   %th
          /   %th
          - @user_organizations.each do |user_org|
            - org = user_org.organization
            %tr
              %td.table-img-td
                - if org.logo.present?
                  = image_tag org.logo, class: 'table-logo'
              %td= link_to org.name, organization_path(org)
              %td
                - if user_org.approved?
                  = link_to 'Find Shifts', search_shifts_path(organization_ids: [user_org.organization_id]), {class: 'btn btn-success table-btn'}
                - elsif user_org.pending?
                  Pending Approval
