%p Organizations which you have requested/been granted access to

.panel.panel-default
  .table-responsive
    %table.table.table-striped
      %tbody
        %tr
          %th Name
          %th Status
          %th
        - @user_organizations.each do |user_org|
          %tr
            %td= link_to user_org.organization.name, organization_path(user_org.organization)
            %td= user_org.status.capitalize
            %td
              - if user_org.approved?
                = link_to 'Find Shifts', search_shifts_path(organization_ids: [user_org.organization_id])
