%h3
  Completed Shifts
  %small{style: 'float: right;'}= link_to 'Create a new shift', new_shift_path

%p Shifts are instances of a shift type.  They are specific to a certain day and time.  Here you can specify how many volunteers will be needed.

- if @organization.shifts.completed.any?
  = render partial: 'shifts/admin_table', locals: { shifts: @organization.shifts.completed, can_cancel: true }
- else
  %p No completed shifts
