/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #E9EAED;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 25px;
  color: #5a5a5a;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  &::before {
    content: ' ';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50px;
    left: 0;
    background: image-url('volunteer.png') no-repeat top center;
    background-size: cover;
    will-change: transform;
    z-index: -5;
    opacity: 0.5;
  }
 }

#main {
  background-color: #ffffff;
  min-height: 95%;
  padding: 1% 5%;
  border-left: 7px solid #D2D2D2;
  border-right: 7px solid #D2D2D2;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 95%;
  margin: 25px auto;
  display: table;
  position: relative;
}

.side-bar {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  margin-right: 1%;
}

.side-bar-right {
  display: inline-block;
  width: 75%;
  vertical-align: top;
  float: right;
}

.page-header {
  border-bottom: 1px solid #a0a0a0;
  margin: 30px 0px;
}

.btn {
  font-size: 14px;
}

.sign-up-btn {
  width: 100px;
}

$bgDefault      : #0096b5;
$bgHighlight    : #00667a;
$colDefault     : #ffffff;
$colHighlight   : #00667a;
$dropDown       : true;

a {
  color: $bgDefault;
  &:hover,  &:focus {
    color: #006ab5;
  }
}

small {
  /*font-size: 14px;*/
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: $bgDefault;
}

.btn-primary {
  background-color: $bgDefault;
  border-color: $bgDefault;
  &:hover,  &:focus {
    background-color: #006ab5;
  }
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #ddd;
}

.table th {
  border-top: 0px;
}

.table p {
  margin-bottom: 0px;
}

.table {
  margin-bottom: 0px;
}

.avatar {
  border-radius: 100%;
}

.oauth-btn {
  max-width: 50%;
}

.oauth-btn-group {
  margin-top: 25px;
}

.log-in {
  /*width: 30%;*/
  margin: auto;
}

.log-in-btn {
  display: block;
  min-width: 30%;
  margin: auto;
  margin-bottom: 25px;
}
/*.navbar-nav, .nav-item, .nav-link, .navbar-collapse {
  height: 100%;
}
*/
.navbar {
  background-color: $bgDefault;
  color: $colDefault;
  height: 50px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 3%;
  .navbar-brand {
    color: $colDefault;
  }
  > li {
    > a {
      color: $colDefault;
    }
  }
  .nav-link {
    color: $colDefault;
    /*border-radius: 25px;*/
    margin-left: 15px;
    &:hover,  &:focus {
      color: #D2D2D2;
      /*background-color: $colDefault;*/
    }
  }
  .dropdown-menu {
    background-color: $bgDefault;
  }
  .dropdown-item {
    color: $colDefault;
    &:hover,  &:focus {
      color: $colHighlight;
      background-color: $colDefault;
    }
  }
  .divider {
    background-color: $bgHighlight
  }
}
/*
  border-color: $bgHighlight;
  border: 0;
  .navbar-brand {
    color: $colDefault; }
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        > i.heart {
          -webkit-transition-duration: .7s;
            transition-duration: .7s;
        }
        &:hover,  &:focus {
          > i.heart {
            color: #ff0004;
            // transform: scale(1.5);
            -webkit-transition-duration: .7s;
              transition-duration: .7s;
          }
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li > a {
            color: $colDefault;
            &:hover,  &:focus {
              color: $colHighlight;
              background-color: $bgHighlight; }}
          .divider {
            background-color: $bgHighlight;}}}
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $colDefault; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $colDefault; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-custom .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $colDefault; }}}
}

.nav>li>a:hover {
  background-color: $colDefault;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;
}
*/
html,
body {
  height: 100%;
  width: 100%;
}

footer {
  padding: 10px 30px;
  background-color: #0096b5;
  color: white;
  a {
    color: white;
    text-decoration: underline;
  }
  p {
    margin: 0;
  }
}

.container .text-muted {
  margin: 20px 0;
}

/* Responsive Styles */

@media(max-width:991px) {
  .customer-img,
  .img-related {
    margin-bottom: 30px;
  }
}

@media(max-width:767px) {
  .img-portfolio {
    margin-bottom: 15px;
  }

  header.carousel .carousel {
    height: 70%;
  }
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.select{
  font-size: 20px;
}
.tooltip-class {
  text-decoration: none;
}
.pagination {
  margin-top: 0;
}

ul .nav {
  margin: 20px 0;
}

select {
  width: 100%;
  border-radius: 5px;
}

.error-page {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}

.shrug {
  width: 60%;
  margin: auto;
  display: block;
}
