- content_for :title, @type.name

%h2.page-header= @type.name

.panel.panel-default
  .table-responsive
    %table.table.table-striped
      %tbody
        %tr
          %td Organization
          %td Name
          %td Description
        %tr
          %td= link_to @type.organization.name, organization_path(@type.organization)
          %td= @type.name
          %td= @type.description
